:root {
  --background-color: white;
  --default-color: black;
  --viz-color: black;

  --agency-color: crimson;
  --studio-color: limegreen;
  --product-color: blue;

  --hover-color: darkgoldenrod;
  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --default-color: white;
    --viz-color: white;
    --hover-color: goldenrod;
  }
}

html, body, div, span, h1, h2, h3, p, blockquote, pre,
{
  scroll-behavior: smooth;
  color: var(--default-color);
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}