.container {
  position: relative;
  top: 5vmax;
  left: 10vmax;
  margin-right: 25vmax;
  margin-bottom: 20vmax;
  line-height: 6vmax;
  @media screen and (min-width: 1600px){
    line-height: 4vmax;
  }
  @media screen and (aspect-ratio: 1/1) {
    left: 7vmax;
    margin-right: 7vmax;
    line-height: 7vmax;
  }
  @media screen and (orientation: portrait) {
    left: 4vmax;
    margin-right: 8vmax;
    line-height: 8vmax;
  }
}

.reset {
  position: relative;
  left: -.55em;
  @media screen and (orientation: portrait) {
    left: -.57em;
  }
}