.container {
  position: fixed;
  top: 5vmax;
  left: 10vmax;
  margin-right: 15vmax;
  line-height: 6vmax;
  @media screen and (aspect-ratio: 1/1) {
    left: 5vmax;
    margin-right: 5vmax;
    line-height: 7vmax;
  }
  @media screen and (orientation: portrait) {
    left: 3vmax;
    margin-right: 5vmax;
    line-height: 8vmax;
  }
}

.reset {
  position: relative;
  left: -.55em;
}