.container {
  position: relative;
  top: 5vmax;
  left: 10vmax;
  margin-bottom: 20vmax;
  line-height: 6vmax;
  @media screen and (min-width: 1600px){
    line-height: 4vmax;
  }
  @media screen and (aspect-ratio: 1/1) {
    left: 7vmax;
    line-height: 7vmax;
  }
  @media screen and (orientation: portrait) {
    left: 4vmax;
    line-height: 7vmax;
  }
}

.content {
  margin-right: 15vmax;
  @media screen and (aspect-ratio: 1/1) {
    margin-right: 5vmax;
  }
  @media screen and (orientation: portrait) {
    margin-right: 4vmax;
  }
}