.pointer {
  position: fixed;
  font-weight: bolder;
  top: 5vmax;
  left: 6.5vmax;
  @media screen and (aspect-ratio: 1/1) {
    left: 3.5vmax;
  }
  @media screen and (orientation: portrait) {
    left: .5vmax;
  }
  transform-origin: center;
}