/*@font-face {
  font-family: 'Roboto Serif';
  src: url('../fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf');
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}*/

body {
  font-size: 4.5vmax;
  @media screen and (min-width: 1600px){
    font-size: 3vmax;
  }
  font-family: 'Helvetica', sans-serif;
  //font-variation-settings: 'wght' 400, 'wdth' 110;
}

abbr {
  letter-spacing: .125vmax;
}

.headline {
  font-weight: bolder;
  /*position: relative;
  font-variation-settings: 'wdth' 110, 'wght' 600, 'GRAD' 50;
  @media screen and (orientation: portrait) {
    font-variation-settings: 'wdth' 120, 'wght' 700, 'GRAD' 50;
  }*/
}
