@mixin line ($color, $gap) {
  background-image: linear-gradient(to right, $color $gap, transparent $gap);
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: .15em .03em;
}

a {
  text-decoration: none;
  color: var(--default-color);
  cursor: pointer;
  @include line (var(--default-color), 100%);
  &:hover {
    color: var(--hover-color);
    path {
      fill: var(--hover-color);
    }
    @include line (var(--hover-color), 100%);
  }
}

.dashed {
  @include line (var(--default-color), 60%);
  &:hover {
    @include line (var(--hover-color), 60%);
  }
}

.clickable {
  color: var(--default-color);
  cursor: pointer;
  &:hover {
    color: var(--hover-color);
  }
}