
@mixin container($width){
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: $width;
}

.svg-container {
  @include container(100%);
}

//padding-bottom: 100%; /* to make aspect ratio 1/1 */