%text-decoration {
  font-weight: bolder;
  //font-variation-settings: 'wght' 450, 'wdth' 95;
}

@mixin container($width){
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: $width;
}

.svg-container {
  @include container(100%);
}

.agency {
  @extend %text-decoration;
  color: var(--agency-color);
}

.studio {
  @extend %text-decoration;
  color: var(--studio-color);
}

.product {
  @extend %text-decoration;
  color: var(--product-color);
}

.viz-text {
  color: var(--viz-color);
}

.switcher {
  fill: #cccccc;
}
//padding-bottom: 100%; /* to make aspect ratio 1/1 */